src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a875ff0e-23d3-474a-9c38-0e20d30a66d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="589027a4-3070-4bd9-be23-76095ebaf124" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	
	<flow name="getFlights" doc:id="cf7002c9-ad26-4f26-929d-1f059d0cadf5" >
		<http:listener doc:name="Listener" doc:id="c6709298-9ec7-4a98-a447-4713f553eb73" config-ref="HTTP_Listener_config" path="/flights"/>
		<db:select doc:name="Select" doc:id="c9cfeb67-8c2d-4909-b9dc-db50852a33d6" config-ref="Database_Config1">
			<db:sql >SELECT *

FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d7e14f20-ce99-4ede-a33c-eac73a6462db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsById" doc:id="164a9e87-3774-4df3-b320-87d0b9ac716d" >
		<http:listener doc:name="Copy_of_Listener" doc:id="a6424a68-c8e4-4be9-8594-0e873a8664db" config-ref="HTTP_Listener_config" path="/flights/{ID}" />
		<db:select doc:name="Copy_of_Select" doc:id="b01e6030-5ff2-4fd1-a9ad-2c58d0782b0e" config-ref="Database_Config1" >
			<db:sql >SELECT * FROM american WHERE ID = :ID;</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="7648c038-fd6b-42f7-8376-8341ed9e230f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="ca52675d-bd0a-4fc6-97be-4c08decf83ba" >
		<http:listener doc:name="Listener" doc:id="f2851d21-b8c0-4711-aec4-074f10f24e8b" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='#[output application/json---{"message":"flight added"}]' doc:name="Set Payload" doc:id="df2bad63-dd8c-4d16-a3f8-3709b49d0ac5" />
	</flow>
</mule>
